.header {
  margin-bottom: 20px;
  display: flex;
  justify-content: left;
  font-size: 20px;
}

.nav-item {
  text-decoration: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
}
.link {
  font-family: 'Girl Sands', sans-serif;
  color: rgb(2, 57, 65);
  font-weight: bold;
}

.arrow {
  margin: 0px;
  color: rgb(106, 173, 186);
}
.userName {
  color: rgb(167, 172, 174, 0.9);
}
.list {
  display: flex;
  gap: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.list a {
  display: flex;
  text-decoration: none;
}
.list a:hover,
.list a.active {
  color: var(--color-primary-800);
  text-decoration: underline;
}
