.header {
  max-width: 70rem;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: left;
}
.list {
  display: flex;
  gap: 1rem;
}
.list a {
  text-decoration: none;
  color: var(--color-primary-800);
}
.list a:hover,
.list a.active {
  color: var(--color-primary-800);
}
