.header {
  /* max-width: 70rem; */
  margin: 0;
  display: flex;
  justify-content: left;
}
.list {
  display: flex;
}
.list a {
  text-decoration: none;

  color: var(--color-primary-500);
}
.list a:hover,
.list a.active {
  color: var(--color-primary-500);
}

hr {
  border: 1px solid #e2dfdf;
  margin: 20px 30px 20px 30px;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
