.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userName {
  color: rgb(106, 173, 186);
  font-weight: bold;
  font-size: 24px;
}

.buttonLarge {
  width: 120px;
  height: 40px;
  font-size: 14px;
}

.buttonSmall {
  width: 40px;
  height: 40px;
  font-size: 14px;
  display: none;
  text-decoration: none;
}

.userTitle {
  font-size: 24px;
  color: rgb(106, 173, 186);
  font-weight: bold;
}

@media (width <= 425px) {
  .buttonLarge {
    display: none;
  }

  .buttonSmall {
    display: block;
  }
}
