.itemWrapper {
  display: flex;
  font-size: 18px;
  margin: 10px 0;
}

.wrapper {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  padding: 0;
  color: rgb(90, 145, 155);
}

.itemKey {
  font-weight: bold;
}

.itemValue {
  color: #676c78;
  margin-left: 5px;
}
