body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(236, 238, 237);
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h2 {
  padding-bottom: 30px;
  text-align: left;
  color: rgb(106, 173, 186);
}

hr {
  border: 1px solid #e2dfdf;
  margin: 0px 0px 20px 0px;
}

p {
  font-family: 'Girl Sands', sans-serif;
  color: rgb(2, 57, 65);
  font-size: 18px;
}
span {
  color: rgb(167, 172, 174, 0.9);
}
button {
  width: 100px;
  height: 30px;
  font: inherit;
  font-size: 12px;
  color: white;
  border-radius: 5px;
  background: rgb(106, 173, 186);
  cursor: pointer;
  border: 0;
  margin: 0;
}
/* .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
} */

.item {
  flex: 1;
  min-width: 300px;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
}
